
/* lets design a 3d carousel for the user data that will be displayed */
.container {
    width: 100%;
    /* margin: 2rem auto; */
    justify-content: center;
    /* align-items: center; */
}


.carousel-div {
    width: 80%;
    display: flex;
    /* margin: 2rem auto; */
    /* justify-content: center;
    align-items: center;
    background: linear-gradient(190deg, #010b37, #08090c); */
}

.action {
    display: flex;
    justify-content: center;
}

.card {
    background-color: rgba(37, 105, 164, 0.5);
    width: 20rem;
    height: 10rem;
    border: 0.2rem solid rgba(32, 231, 61, 0.5);
    box-shadow: 0px 0px 10px rgba(255, 153, 122, 0.5);
    margin: 0.5rem;
}


.left-arrow, .right-arrow {
    padding: 0 1rem;
    border: none;
    border-radius: 0.6rem;
}
