



body {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
}

.main-div {
    background-color: rgba(36, 33, 113, 0.3);
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.main-div:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
}

.main-top {
    text-align: center;
    margin-bottom: 20px;
}

.btn-log.error {
    animation: shake 0.3s ease-in-out;
    border: 2px solid rgba(245, 181, 181, 0.8);
    box-shadow: 0px 0px 10px  rgba(245, 181, 181, 0.8);
}